.DS_Store
__pycache__/
.idea/
.vscode/
# skillsとREADME.mdのみ追跡
*
!README.md
!skill-creator/
!skill-creator/**/**
!skill-creator-from-logs/
!skill-creator-from-logs/**/**
!playwright-scraper/
!playwright-scraper/**/**
!python-readable-code/
!python-readable-code/**/**
